<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\00siy\ClientPlazz-cq\mobile\client\GloryProject.exe</StartProgram>
    <StartArguments>D:\00siy\ClientPlazz-cq\mobile\client</StartArguments>
    <StartWorkingDirectory>D:\00siy\ClientPlazz-cq\mobile\client</StartWorkingDirectory>
  </propertyGroup>
</Project>